* {
  font-family: "Roboto", sans-serif, "Times New Roman";
  font-weight: 300;
}

header {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

header img {
  width: 10%;
}
nav {
  text-align: center;
  background-color: #fcfbf0;
  color: #1e4b49;
  border-top: 2px solid #f8e6a3;
  font-weight: 500;
  padding-bottom: 0.1em;
}

nav span {
  font-weight: 700;
}

article {
  padding-top: 2em;
  width: 45%;
  margin-inline: auto;
}

article h1 {
  text-align: center;
  font-size: 3em;
  color: #333333;
  font-weight: 500;
}

article video {
  width: 100%;
  border-radius: 10px;
}

#img-des {
  text-align: center;
  font-weight: 500;
  color: #929292;
}

#feat {
  border-left: 2px solid #f6d25d;
  padding-left: 1.5em;
}

#feat p {
  margin: unset;
  color: #aa4b1e;
  font-weight: 500;
}

#feat a {
  color: #1a8785;
  font-weight: 500;
}

#recipe {
  padding-top: 2.5em;
}

section h3 {
  font-weight: 500;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccf3f2;
  color: #333333;
}

#recipe .h {
  font-weight: 500;
}

#recipe li {
  padding: 0.3em;
}

li span {
  font-weight: 500;
}

p a {
  color: #327372;
  font-weight: 500;
}
